/* div{
    background: greenyellow;
    width: 200px;
    margin: auto;
    text-align: center;
}

div{
    border-width: 1px;
    border-color: black;
    border-style: solid; 
    border-top: 0.7px solid black;
    border-left: 0.7px solid black;
    border-radius: 4px;
} */

input{
    margin: 5px;
    padding: 6px 9px;
    border: none;
    background: transparent;
    border-bottom: 1px solid greenyellow;
    color: greenyellow;
    border-radius: 3px;
}

body{
    background-color: black;
}

.boton{
    margin: 20px;
    
}