td, th{
    border: 1px solid #000;
    text-align:center;
    padding: 6px;
    font-family: sans-serif;
    border: none;
    border-bottom: 1px solid #0004;
}

td{
    color: #333;
}

table{
    width: 100%;
    border-spacing: 12px;
    box-shadow: 0 0 25px #0002;
    margin: auto;
    max-width: 500px;
    margin-top: 30px;
}

.dato_total, .header_total{
    border: none;
    padding: 12px;
    font-size: 1.2em;   
}