body{
    margin: 0;
    font-family: sans-serif;
    font-size: 10px;
}

div, body{
    box-sizing: border-box;
}

.flexbox{
    display:flex;
    /* flex-wrap: wrap; */
}

.flex__item{
    background-color: #ccc;
    padding: 30px;
    border: 1px solid #f00;
    flex-grow:1;
    /* flex-basis: 0;
    min-width: 166.66px; */
}

@media print {
    body{
        font-size: 16pt;
    }
}

@media screen and (max-width:550px) {
    .flexbox{
        flex-direction: column;
    }
}