body{
    margin: 0;
    font-family: sans-serif;
}

div, body{
    box-sizing: border-box;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    padding: 10px; 
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-evenly;
    border: 2px solid #000;
    margin:20px;
}

.grid-item:first-child{
    background-color: #e66;
    align-self: stretch;
}

.grid-item{
    background-color: #48e;
    color: #fff;
    border-radius: 10px;
    font-size: 30px;
    max-width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.grid-item:hover{
    opacity: 0.6;
}