body{
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}


div, body{
    box-sizing: border-box;
}


.flexbox{
    display: flex;
    flex-flow: row wrap;
    margin: 20px;
    /* height: 100px; */
    align-items: center;
    justify-content: start;
    gap: 20px;
    border: 1px solid #0009;
}


.flex__item:first-child{
    background-color: #f77;
    flex-shrink: 0;
}


.flex__item{
    background-color: #800;
    color: #fff;
    font-size: 40px;
    text-align: center;
    direction: rtl;
    flex: 1 1 150px;
}


.flex__item:last-child{
    background-color: #000;
    /* flex-grow: 4; */
}


.item-5{
    align-self: flex-start;
}
