body{
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}

div, body{
    box-sizing: border-box;
}

.flexbox{
    background-color: #fff;
    display: flex;
    /* flex-wrap: row;
    flex-direction: column; */
    flex-flow: row wrap;
    border: 2px solid #000;
    margin: 20px;
    justify-content: space-evenly;
    align-content: center;    
    height: 100px;
}

.flex-item{
    color: #fff;
    font-size: 40px;
    background-color: rgb(212, 24, 24);
    text-align: center;
    /* height: 50px; */
    width: 100px;
}

.flex-item:first-child{
    background-color: #f77;
}

.flex-item:last-child{
    background-color: rgb(108, 4, 4);
}