body{
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}

body, div{
    box-sizing: border-box;
}

.grid{
    display: grid;
    /* grid-template-columns: repeat(3, 1fr 2fr); */
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,200px); 
    grid-auto-flow: row;
    grid-auto-columns: 150px;
    grid-auto-rows: 100px;
    gap:20px;
    width: 90vw;
    margin: auto;
    margin-top: 10px;
}

.grid-item{
    background-color: #48e;
    padding: 10px;
    font-size: 30px;
    color: #fff;
}