body{
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
}

.box{
    width: 120px;
    height: 120px;
    background-color: #f00;
    margin-top: 50px;
    font-size: 60px;
    transition: left 1s cubic-bezier(0,.99,.61,1.22) 2s;
    /* transition-property: left;
    transition-duration: 1s;
    transition-tim ing-function: cubic-bezier(0,.99,.61,1.22); */
    position: relative;
    left: 0;
}

body:hover .box{
    left: 300px;
}