body{
    margin: 0;
    font-family: sans-serif;
}

.contenedor{
    padding: 150px;
    background-color: #00f;
    position: relative;
}

h2{
    font-size: 18px;
    margin: 0;
}

p{
    font-size: 14px;
    margin: 0;
}

.box{
    height: 60px;
    width: 200px;
    background-color: #fff;
    position: fixed;
    right: 0;
    border: 2px solid #000;
    border-right: 0;
    z-index: 10;

    box-shadow: 0 0 40px #0009 ;
}

.box-fixed{
    height: 60px;
    width: 200px;
    background-color: #f00;
    position: sticky;
    top: 20px;
}