/* SELECTOR POR ATRIBUTO*/
img[src$="webp"]{
    width: 100%;
}

/* SELECTOR DESCENDIENTE*/
ul li{
    color: #666;
}

/* SELECTOR POR HIJO DIRECTO*/
li > em{
    color: #f00;
}

/* SELECTOR DE HERMANO ADYACENTE*/
h1 + p{
    color: #00f;
}

/* SELECTOR DE HERMANOS GENERALES*/
h1 ~ p{
    color: #00f;
}