body{
    margin: 0;
    font-family: sans-serif;
}

.modal{
    position: absolute;
    background-color: #0009;
    width: 100vw;
    height: 100vh;
}

.modal__content{
    background-color: #fff;
    padding: 10px 20px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    position: relative;
}

.modal__title{
    margin-top: 10px;
}

.modal__close-button{
    color: #000;
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 12px;
}