body{
    margin: 0;
    font-family: sans-serif;
    background-color: #bbb;
}

.box{
    width: 250px;
    height: 50px;
    margin: auto;
    margin-top: 50px;
    background-color: #fff;
    border: 1px solid #0006;
    /* white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; */
    white-space: normal;
    text-wrap: pretty;
}

h1{
    text-wrap: balance;
}