/* Colores que vamos a utilizar:
#4488ee
#e2eaff
#18233f */

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e2eaff;
    color: #101632dd;
}

div, ul, nav, header, footer, a, li, label, body{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.header__open-nav-button{
    color: #48e;
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
}

.header__checkbox{
    display: none;
}

.header__nav{
    display: none;
    background-color: #fff;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: -1;
}

.header__checkbox:checked ~ .header__nav{
    display: block;

}

.header__logo{
    max-width: 100%;
    width: 80px;
    margin: 15px
}